@media screen and (max-width:1399px) {
  
}
/* ipad pro */
@media screen and (max-width:1199px){
    .top-banner img {
        max-width: 100%;
    }  
    .hero {
        position: absolute;
        top: 200px;
        left: 100px;
      }
}
/* tablet */
@media screen and (max-width:990px){
    .top-banner img {
        max-width: 100%;
    }
    .hero {
        position: absolute;
        top: 200px;
        left: 200px;
      }
}
/* phone rotate */
@media screen and (max-width:760px){
    .top-banner img {
        max-width: 100%;
    }
    .hero {
        position: absolute;
        top: 100px;
        left: 100px;
      }
}
/* phone */
@media screen and (max-width:570px){
    .project-info {
        margin-bottom: 30px;
    }
    .top-banner img {
        max-width: 100%;
    }
    .hero {
        position: absolute;
        top: 100px;
        left: 100px;
      }
    .hero h1 {
        display: none;
    }
    .navbar a {
        font-size: 25px;
    }
}